*{
	box-sizing: border-box;
}





.fixedMenuWrapper {
    width: 100%;
    max-height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}




[class*="col-"]{
	width: 100%;
	float: left;
	padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
    background-color: teal;
}

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


body{
	font-family:cursive;
	margin: 0px;
	background-color: black;
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity:0.5;
}

body section,aside,article{
	background-color: black;
	opacity: 0.9;
	
}

p{
	font-size: 15px;
	color: white;	
}

a{
	color: white;
	text-decoration: none;
}

nav{
	width: 100%;
	background-color: purple;
	position: absolute;	
}

nav li{

}

a:active{
	color: purple;
	transform: scale(0.9);
	font-style: italic;
}

ul{
	float: left;
	list-style-type: none;
	clear: both;
	direction: rtl;	
}

li{
	float: left;
	padding-right: 20px;
}

nav a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: white;
	font-size: auto;
	text-decoration: overline;
}


nav select{
	display: none;
}

@media(max-width: 960px){
	nav ul{display: none;}
	nav select{
		display: inline-block;
	}
}

.contact{
	font-size: 50px;
	color:darkred;
	opacity:2;	
}

#name, #email, #phonenumber{
	border: 2px solid white;
	padding: 12px;
	margin-bottom: 10px;
	padding-right: 100px;
}
.form-button a{
	border: 2px solid maroon;
	padding: 15px;
	background-color: maroon;
	color: white;
	text-decoration: none;
}
.form-button a:hover{
	color: maroon;
	font-weight: bold;
	background-color: white;
	border: 2px solid white;
}

.vlogs a{
	text-decoration: none;
	color: white
}

.vlogs ul{
	list-style-type: circle;
}

button{
	border: 1px solid purple;
	/*border-radius: 10px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: purple;
}


@-webkit-keyframes spin{
	0%{-webkit-transform: rotateY(0deg); }
	50%{-webkit-transform: rotateY(45deg);  }
}

/*img:hover{
	position: relative;
    -webkit-animation: spin 1.5s linear; 
}*/
